:root {
    --primary-color: #845EEB;
    --secondary-color: #D1ABEB;
  }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  margin-top: 16px;
  margin-bottom: 16px;
  color: var(--primary-color);
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 24px;
}

.color-box {
    width: 100px;
    height: 100px;
    display: inline-block;
}

.color-box.primary {
    background-color: var(--primary-color);
}

.color-box.secondary {
    background-color: var(--secondary-color);
}