body {
    /* 因為使用 AOS 動畫，畫面上的元素會在超出文件範圍的地方預備進場，造成瀏覽器出現水平（橫向）卷軸 */
    /* 使用水平溢出屬性(overflow-x)，將超出畫面的部分設為隱藏(hidden)解決這個問題 */
    overflow-x: hidden;
}

.movie__list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    align-items: center;
}

.movie__item {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 8px;
    /* width: 200px; */
    width: 90%;
    text-align: center;
    background-size: cover;
    background-size: 100%;
    transition: background-size 5s cubic-bezier(0.23, 1, 0.32, 1);
}

.movie__item-cover {
    background-image: url(https://www.vscinemas.com.tw/upload/film/film_20250305008.jpg);
    background-position: center;
    height: 300px;
    background-size: 100%;
}

.movie__item-cover:hover {
    background-size: 150%;
}

.movie__item-title {
    padding: 8px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

.movie__item-desc {
    padding: 8px;
}


.movie__item.cover {
    height: 300px;
    background-position: center;
}

.item1 {
    background-image: url(https://www.vscinemas.com.tw/upload/film/film_20250305008.jpg);
}

.item3 {
    background-image: url(https://www.vscinemas.com.tw/upload/film/film_20250402032.jpg);
}

@media (max-width: 1024px) {
    main#desktop {
        display: none;
    }
}

@media (min-width: 1025px) {
    main#mobile {
        display: none;
    }
    
    main#desktop {
        display: block;
    }

    .movie__item {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .movie__item:nth-child(even) {
        flex-direction: row-reverse;
    }

    .movie__item-cover {
        width: 60%;
        background-position: center;
        transition: background-size 5s cubic-bezier(0.23, 1, 0.32, 1);
    }

    .movie__item:hover {
        background-size: 150%;
    }

    .movie__item-desc {
        width: 40%;
    }

    .movie__list {
        gap: 0;
    }
}